body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #0d0326;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color:#fff;
}

.container {
  text-align: center;
  background-color: #09012d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(72, 72, 72, 0.1);
  color: #555;
}

h1 {
  color: #fff;
}

p {
  font-size: 24px;
  margin: 20px 0;
  color:  #fff;
}

button {
  background-color: #12569a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #082544;
}
